body {
    background: rgb(223, 226, 246);
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    padding: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(237, 216, 23);
    text-align: center;
    margin: auto;
    border: 700px;
    background: rgb(114, 141, 250);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
   text-align:center;
}

p {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    fontsize:15px;
}

main {
    flex: 1;
}

img{
    text-align:center;
}

footer {
    background-color: springgreen;
    max-width: 100%;
    margin-top: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 80px;
}
